p {
	color: #008000;
}


h1 {
	font-size: 36px;
	padding: 0px 0px 0px 150px;
	color: #0000FF;
}

h2 {
	font-size: 30px;
	color: #808080;
	padding: 0px 50px 0px 100px;
	width: 200px;
	background-color:#87CEEB;
}

img{
	border: 2px solid #5d6063;
	width: 300px;
	border-radius:100px 0px 100px 0px;
}

.pros{
	color:#0000FF;
	font-size: 15px;
	
}
.cons{
	color:#FF0000;
	font-size: 13px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navigation{
	display: flex;
	color: white;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	background-color: #A9A9A9;
	padding: 5px 20px 5px 20px;
	text-decoration = none;
}
.navigatelist{ 
	background-color: #A9A9A9;
	float: left;
	height: 30px;
}

.active {
	display: flex;
	color: white;
	text-decoration = none;
	text-align: center;
	align-items: center;
	padding: 5px 20px 5px 20px;
	font-size: 20px;
	background-color: #00008B;
}
.dogs-container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.dogs{
	display: flex;
	align-items: flex-start;
	padding: 0px 50px 0px 25px;
}
.dog-info{
	display: flex;
	align-items: flex-start;
	background-color: grey;
	justify-items: space-around;
}

.menu-container{
	display: flex;
	align-items: stretch;
}
.menu{
	display: flex;
	color: white;
	justify-content: space-between;
}

.topbar-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 2px solid black;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
	body{
		background-color: #F09A9D;
	}
	.dogs-container{
		align-items: center;
	}
	h1{
		font-size: 36px;
		padding: 0px 0px 0px 0px;
	}
	.topbar-container{
		width: 100%;
		flex-wrap: wrap;
	}


}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px){
	body{
		background-color: #F5CF8E;
	}
}


/*Desktop Styles */
@media only screen and (min-width: 961px){
	body{
		background-color: #B2D6FF;
	}
	.dogs-container {
		width: 100%;
		flex-wrap: none;
	}
}

